/* Add your CSS stylesheets or link to external stylesheets here */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    list-style: none;
    color: black;
    font-weight: bold;
    background-color: #f7f7f7;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

h1 {
    color: #ff9900;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    font-weight: bolder;
    text-align: center;
    /* box-shadow: 0px 0px 5px #ff9900,
                0px 0px 30px #ff9909,
                0px 0px 90px #ff9909;
    height: 40px;
    width: 200px;
    margin-left: 600px; */
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

strong {
    color: #007bff;
}

/* Customize the background color and border color of the team section */
section:nth-child(3) {
    background-color: #f5f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;

}
section:nth-child(2) {
    background-color: #f5f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
section:nth-child(4) {
    background-color: #f5f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}
