/* compare_view.css */

.compare-view-container {
  max-width: 1200px;

  margin: 0 auto;
}

.comparison-results-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-spacing: 0;
  border: 1px solid #ff9900;
}

.comparison-results-table th, .comparison-results-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.comparison-results-table th {
  background-color: #f2f2f2;
}

.text-info {
  color: #5bc0de;
  margin-top: 20px;
}
