{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">

    <section>
        <h1>Our Story</h1>
        <p>Welcome to Laptop Bazaar, where passion meets technology. Founded with a vision to
            redefine the laptop shopping experience, we strive to be your one-stop destination for the
            latest and greatest in laptop technology and accessories. Whether you're a student navigating
            through demanding assignments, a professional seeking powerful computing solutions,
            a gamer exploring virtual realms, or someone who simply enjoys the convenience of
            portable computing, we have carefully curated a diverse range of laptops to cater to your
            unique needs.</p>

        <p>Our journey began with a simple idea – to make cutting-edge technology accessible to
            everyone. With a team of tech enthusiasts and experts, we are committed to staying ahead
            of the curve, offering you the most innovative and reliable laptops in the market. We believe
            that technology should enhance your life, and we're here to help you find the perfect
            companion on your digital journey.</p>
    </section>

    <section>
        <h1>Our Mission</h1>
        <p>At Laptop Bazaar, our mission is to empower individuals through technology. We aim to
            provide a seamless and enjoyable shopping experience, offering a diverse selection of laptops
            that cater to various preferences and requirements. By staying updated with the latest trends
            and advancements, we aspire to be at the forefront of the technology landscape, ensuring
            that our customers have access to the best-in-class products.</p>

        <p>We are dedicated to fostering a community of tech enthusiasts and learners. Through
            informative content, expert reviews, and personalized recommendations, we want to
            accompany you on your tech exploration journey. Our commitment extends beyond selling
            laptops – we're here to be your trusted technology partner.</p>
    </section>

    <section>
        <h1>Our Team</h1>
        <p>Meet the passionate individuals who drive the Laptop Bazaar experience:</p>
        <ul>
            <li><strong>Michael Mutinda</strong> - ALX Student, Tech Enthusiast</li>
            <li><strong>Annah Njuguna</strong> - ALX Student, Innovation Advocate</li>
        </ul>
    </section>

{% endblock %}
