{% extends 'base.html' %}
{% load static %}

{% block content %}


        <section>
            <h2>Our Story</h2>
            <p>At Laptop Bazaar, we're passionate about technology and dedicated to bringing you
                 the latest in laptop technology and accessories. Whether you're a student, a
                  professional, a gamer, or someone who simply enjoys the convenience of 
                  portable computing, we have something for everyone</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <ul>
                <li>Michael Mutinda - ALX Student</li>
                <li>Annah Njuguna - ALX Student</li>
            </ul>
        </section>

{% endblock %}
