{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class="social-media">
            <a href="https://www.facebook.com/Laptop Bazaar" target="_blank">
                <img src="/static/images/facebook-logo.png" alt="Facebook">
            </a>
            <a href="#" target="_blank">
                <img src="/static/images/x-logo.png" alt="X">
            </a>
            <a href="https://www.linkedin.com/company/Laptop Bazaar" target="_blank">
                <img src="/static/images/linkedin-logo.png" alt="LinkedIn">
            </a>
            <a href="https://wa.me/254717219123" target="_blank">
                <img src="/static/images/whatsapp-logo.png" alt="WhatsApp">
            </a>
            <a href="https://www.instagram.com/Laptop Bazaar" target="_blank">
                <img src="/static/images/instagram-logo.png" alt="Instagram">
            </a>

            {% endblock %}