{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
        <h2>Our Laptops</h2>
    </div>
    <br>
    <br>
    <div>
        {% for laptop in laptops %}
            <div class="laptop-card">
                <!-- Update the src attribute with the correct path to the laptop image -->
                <img src="{% get_media_prefix %}{{ laptop.images }}" alt="{{ laptop.brand }} {{ laptop.model }}">
                <h3>{{ laptop.brand }} - {{ laptop.model }}</h3>
                <p>Price: Ksh {{ laptop.price }}</p>
                <a href="{% url 'laptop_detail' laptop.id %}">View Details</a>
                <br>
                <a href="#" class="btn add-to-cart-btn">Add to Cart</a>
                <div class="compare-checkbox-container">
                    <input type="checkbox" class="compare-checkbox" id="compare-{{ laptop.id }}" data-laptop-id="{{ laptop.id }}">
                    <label for="compare-{{ laptop.id }}"></label>
                  </div>
                
            </div>
        {% endfor %}
    </div>
    <div id="compare-selected-container" style="display: none; position: fixed; top: 130px; right: 10px;">
        <a href="#" class="btn compare-selected-btn" onclick="compareSelectedLaptops()">Compare Selected</a>
    </div>
    <script>
        var selectedLaptops = [];

        function updateCompareButton() {
            var compareButtonContainer = document.getElementById('compare-selected-container');
            if (selectedLaptops.length > 0) {
                compareButtonContainer.style.display = 'block';
            } else {
                compareButtonContainer.style.display = 'none';
            }
        }

        function compareSelectedLaptops() {
            var laptopIds = selectedLaptops.join(',');
            window.location.href = '{% url "compare_view" %}?laptop_ids=' + laptopIds;
        }

        document.addEventListener('change', function (event) {
            if (event.target.classList.contains('compare-checkbox')) {
                var laptopId = event.target.dataset.laptopId;

                if (event.target.checked) {
                    // Add the laptop ID to the selectedLaptops array
                    selectedLaptops.push(laptopId);
                } else {
                    // Remove the laptop ID from the selectedLaptops array
                    selectedLaptops = selectedLaptops.filter(id => id !== laptopId);
                }

                updateCompareButton();
            }
        });
    </script>
    <script src="/static/js/compare.js"></script>
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
